.App
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#todo-container
{
    
}
#app-title
{
    font-weight: bold;
    color: var(--primary-txt-cr);
    width: fit-content;
    width: -moz-fit-content;
    margin: 50px auto 0 auto;    

}
#add-item-btn 
{
    margin-bottom: 30px;
}
#add-item-btn svg
{
    transition: transform .3s ease-out;
}
#add-item-btn:hover
{
    opacity: .8;   
}
#add-item-btn:hover svg
{
    transform: rotate(360deg);
}
#add-item-btn:active
{
    opacity: .5;
}